@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer components {
    .speak {
        position: relative;
        z-index: 1;
        overflow: hidden;
        @include prop-vw(padding-block, 80, lg);

        @include only(tablet) {
            @include prop-vw(padding-block, 70, md);
        }
        @include only(mobile) {
            @include prop-vw(padding-block, 70, sm);
            @include prop-vw(padding-bottom, 166, sm);
        }

        &__heading {
            position: relative;
            z-index: 1;
            display: block;
            @include prop-vw(margin-right, 335, lg);
            margin-left: auto;
            @include prop-vw(max-width, 360, lg);
            width: 100%;
            font-family: $font-secondary;
            @include prop-vw(font-size, 32, lg);
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.01em;
            & > span {
                opacity: 0.3;
            }

            @include only(tablet) {
                margin-right: 0;
                @include prop-vw(max-width, 347, md);
                @include prop-vw(font-size, 32, md);
            }
            @include only(mobile) {
                margin-right: 0;
                @include prop-vw(max-width, 243, sm);
                @include prop-vw(font-size, 25, sm);
            }
        }
        &__heading + &__img {
            @include prop-vw(margin-top, 45, lg);

            @include only(tablet) {
                @include prop-vw(margin-top, 45, md);
            }
            @include only(mobile) {
                @include prop-vw(margin-top, 32, sm);
            }
        }
        &__img {
            display: block;
            overflow: hidden;
            @include prop-vw(margin-right, 376, lg);
            margin-left: auto;
            @include prop-vw(min-width, 561, lg);
            @include prop-vw(width, 561, lg);
            @include prop-vw(height, 350, lg);
            @include prop-vw(border-radius, 40, lg);
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include only(tablet) {
                @include prop-vw(margin-right, 148, md);
                @include prop-vw(min-width, 407, md);
                @include prop-vw(width, 407, md);
                @include prop-vw(height, 255, md);
                @include prop-vw(border-radius, 40, md);
            }
            @include only(mobile) {
                @include prop-vw(margin-right, 43, sm);
                @include prop-vw(min-width, 256, sm);
                @include prop-vw(width, 256, sm);
                @include prop-vw(height, 200, sm);
                @include prop-vw(border-radius, 32, sm);
            }
        }
        &__voice {
            position: absolute;
            @include prop-vw(top, 270, lg);
            @include prop-plus(left, 50%, 320, lg);
            transform: translateX(-50%);
            z-index: 1;

            @include only(tablet) {
                @include prop-vw(top, 281, md);
                @include prop-vw(right, 20, md);
                left: auto;
                transform: none;
            }
            @include only(mobile) {
                @include prop-vw(top, 421, sm);
                @include prop-vw(right, 12, sm);
                left: auto;
                transform: none;
            }
        }
        &__text {
            position: absolute;
            @include prop-vw(top, 221, lg);
            @include prop-minus(left, 50%, 300, lg);
            transform: translateX(-50%);
            z-index: 1;

            @include only(tablet) {
                @include prop-vw(top, 243, md);
                @include prop-vw(left, 60, md);
                transform: none;
            }
            @include only(mobile) {
                @include prop-vw(top, 182, sm);
                @include prop-vw(left, 12, sm);
                transform: none;
            }
        }
        &__track {
            position: absolute;
            @include prop-vw(top, 437, lg);
            @include prop-minus(left, 50%, 290, lg);
            transform: translateX(-50%);
            z-index: 1;

            @include only(tablet) {
                @include prop-vw(top, 431, md);
                @include prop-vw(left, 20, md);
                transform: none;
            }
            @include only(mobile) {
                top: auto;
                bottom: 0;
                @include prop-vw(left, 12, sm);
                transform: none;
            }
        }
    }

    .speak-track {
        &__wrapper {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include prop-vw(gap, 7, lg);
            overflow: hidden;
            @include prop-vw(padding-block, 12, lg);
            @include prop-vw(padding-inline, 10, lg);
            @include prop-vw(max-width, 223, lg);
            @include prop-vw(min-width, 223, lg);
            width: 100%;
            background: rgba(19, 19, 20, 0.8);
            @include border-all(1, solid, rgba($color-white, 0.1), lg);
            @include prop-vw(border-radius, 20, lg);
            backdrop-filter: blur(20px);

            @include only(tablet) {
                @include prop-vw(gap, 7, md);
                @include prop-vw(padding-block, 12, md);
                @include prop-vw(padding-inline, 10, md);
                @include prop-vw(max-width, 223, md);
                @include prop-vw(min-width, 223, md);
                @include border-all(1, solid, rgba($color-white, 0.1), md);
                @include prop-vw(border-radius, 20, md);
            }
            @include only(mobile) {
                @include prop-vw(gap, 6, sm);
                @include prop-vw(padding-block, 10, sm);
                @include prop-vw(padding-inline, 10, sm);
                @include prop-vw(max-width, 193, sm);
                @include prop-vw(min-width, 193, sm);
                @include border-all(1, solid, rgba($color-white, 0.1), sm);
                @include prop-vw(border-radius, 18, sm);
            }
        }
        &__loading {
            display: block;
            @include prop-vw(min-width, 16, lg);
            @include prop-vw(width, 16, lg);
            @include prop-vw(height, 16, lg);

            @include only(tablet) {
                @include prop-vw(min-width, 16, md);
                @include prop-vw(width, 16, md);
                @include prop-vw(height, 16, md);
            }
            @include only(mobile) {
                @include prop-vw(min-width, 14, sm);
                @include prop-vw(width, 14, sm);
                @include prop-vw(height, 14, sm);
            }
        }
        &__progress {
            display: block;
            @include prop-vw(min-width, 117, lg);
            @include prop-vw(width, 117, lg);
            @include prop-vw(height, 12, lg);
            background-image: url(/assets/images/voice-progress.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;

            @include only(tablet) {
                @include prop-vw(min-width, 117, md);
                @include prop-vw(width, 117, md);
                @include prop-vw(height, 12, md);
            }
            @include only(mobile) {
                @include prop-vw(min-width, 99, sm);
                @include prop-vw(width, 99, sm);
                @include prop-vw(height, 10, sm);
            }
        }
        &__value {
            display: block;
            width: fit-content;
            @include prop-vw(font-size, 12, lg);
            font-weight: 300;
            letter-spacing: -0.05em;

            @include only(tablet) {
                @include prop-vw(font-size, 12, md);
            }
            @include only(mobile) {
                @include prop-vw(font-size, 10, sm);
                letter-spacing: -0.04em;
            }
        }
        &__label {
            display: flex;
            align-items: center;
            @include prop-vw(gap, 3, lg);
            @include prop-vw(margin-top, 10, lg);
            width: fit-content;
            @include prop-vw(font-size, 15, lg);
            font-weight: normal;
            letter-spacing: -0.03em;
            color: rgba($color-white, 0.3);
            & > svg {
                @include prop-vw(min-width, 14, lg);
                @include prop-vw(width, 14, lg);
                @include prop-vw(height, 14, lg);
                color: rgba($color-white, 0.3);
            }

            @include only(tablet) {
                @include prop-vw(gap, 3, lg);
                @include prop-vw(margin-top, 10, lg);
                @include prop-vw(font-size, 15, lg);
                & > svg {
                    @include prop-vw(min-width, 14, md);
                    @include prop-vw(width, 14, md);
                    @include prop-vw(height, 14, md);
                }
            }
            @include only(mobile) {
                @include prop-vw(gap, 3, sm);
                @include prop-vw(margin-top, 8, sm);
                @include prop-vw(font-size, 12, sm);
                & > svg {
                    @include prop-vw(min-width, 12, sm);
                    @include prop-vw(width, 12, sm);
                    @include prop-vw(height, 12, sm);
                }
            }
        }
    }

    .speak-voice {
        &__wrapper {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: flex-start;
            @include prop-vw(gap, 5, lg);
            @include prop-vw(padding-block, 17, lg);
            @include prop-vw(padding-inline, 20, lg);
            @include prop-vw(min-height, 110, lg);
            @include prop-vw(max-width, 293, lg);
            @include prop-vw(min-width, 293, lg);
            width: 100%;
            background: rgba(19, 19, 20, 0.8);
            @include border-all(1, solid, rgba($color-white, 0.1), lg);
            @include prop-vw(border-radius, 20, lg);
            backdrop-filter: blur(20px);

            @include only(tablet) {
                @include prop-vw(gap, 5, md);
                @include prop-vw(padding-block, 17, md);
                @include prop-vw(padding-inline, 20, md);
                @include prop-vw(min-height, 110, md);
                @include prop-vw(max-width, 293, md);
                @include prop-vw(min-width, 293, md);
                @include border-all(1, solid, rgba($color-white, 0.1), md);
                @include prop-vw(border-radius, 20, md);
            }
            @include only(mobile) {
                @include prop-vw(gap, 5, sm);
                @include prop-vw(padding-block, 12, sm);
                @include prop-vw(padding-inline, 14, sm);
                @include prop-vw(min-height, 75, sm);
                @include prop-vw(max-width, 200, sm);
                @include prop-vw(min-width, 200, sm);
                @include border-all(1, solid, rgba($color-white, 0.1), sm);
                @include prop-vw(border-radius, 18, sm);
            }
        }
        &__progress {
            display: block;
            overflow: hidden;
            @include prop-vw(margin-top, 2, lg);
            @include prop-vw(min-width, 8, lg);
            @include prop-vw(width, 8, lg);
            @include prop-vw(height, 8, lg);
            background: #FD3030;
            border-radius: 50%;

            @include only(tablet) {
                @include prop-vw(margin-top, 2, md);
                @include prop-vw(min-width, 8, md);
                @include prop-vw(width, 8, md);
                @include prop-vw(height, 8, md);
            }
            @include only(mobile) {
                @include prop-vw(margin-top, 2, sm);
                @include prop-vw(min-width, 6, sm);
                @include prop-vw(width, 6, sm);
                @include prop-vw(height, 6, sm);
            }
        }
        &__value {
            display: block;
            width: fit-content;
            @include prop-vw(font-size, 12, lg);
            font-weight: 300;
            letter-spacing: -0.05em;

            @include only(tablet) {
                @include prop-vw(font-size, 12, md);
            }
            @include only(mobile) {
                @include prop-vw(font-size, 10, sm);
            }
        }
        &__voice {
            position: absolute;
            @include prop-vw(top, -69, lg);
            @include prop-vw(right, -48, lg);
            z-index: 2;
            display: block;
            @include prop-vw(width, 199, lg);
            @include prop-vw(height, 199, lg);

            @include only(tablet) {
                @include prop-vw(top, -69, md);
                @include prop-vw(right, -48, md);
                @include prop-vw(width, 199, md);
                @include prop-vw(height, 199, md);
            }
            @include only(mobile) {
                @include prop-vw(top, -64, sm);
                @include prop-vw(right, -47, sm);
                @include prop-vw(width, 160, sm);
                @include prop-vw(height, 160, sm);
            }
        }
        &__cancel {
            position: absolute;
            @include prop-vw(right, 15, lg);
            @include prop-vw(bottom, 14, lg);
            z-index: 1;
            display: block;
            @include prop-vw(padding-block, 6, lg);
            @include prop-vw(padding-inline, 8, lg);
            @include prop-vw(min-width, 68, lg);
            width: fit-content;
            @include prop-vw(font-size, 12, lg);
            font-weight: 300;
            letter-spacing: -0.05em;
            text-align: center;
            opacity: 0.8;
            background: #101010;
            @include border-all(1, solid, rgba(#8F8F8F, 0.04), lg);
            @include prop-vw(border-radius, 16, lg);

            @include only(tablet) {
                @include prop-vw(right, 15, md);
                @include prop-vw(bottom, 14, md);
                @include prop-vw(padding-block, 6, md);
                @include prop-vw(padding-inline, 8, md);
                @include prop-vw(min-width, 68, md);
                @include prop-vw(font-size, 12, md);
                @include border-all(1, solid, rgba(#8F8F8F, 0.04), md);
                @include prop-vw(border-radius, 16, md);
            }
            @include only(mobile) {
                @include prop-vw(right, 10, sm);
                @include prop-vw(bottom, 9, sm);
                @include prop-vw(padding-block, 3, sm);
                @include prop-vw(padding-inline, 2, sm);
                @include prop-vw(min-width, 46, sm);
                @include prop-vw(font-size, 10, sm);
                letter-spacing: -0.03em;
                @include border-all(1, solid, rgba(#8F8F8F, 0.04), sm);
                @include prop-vw(border-radius, 11, sm);
            }
        }
    }

    .speak-text {
        &__wrapper {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include prop-vw(padding, 16, lg);
            @include prop-vw(min-height, 100, lg);
            @include prop-vw(max-width, 100, lg);
            @include prop-vw(min-width, 100, lg);
            width: 100%;
            text-align: center;
            background: rgba(19, 19, 20, 0.8);
            @include border-all(1, solid, rgba($color-white, 0.1), lg);
            @include prop-vw(border-radius, 20, lg);
            backdrop-filter: blur(20px);

            @include only(tablet) {
                @include prop-vw(padding, 16, md);
                @include prop-vw(min-height, 100, md);
                @include prop-vw(max-width, 100, md);
                @include prop-vw(min-width, 100, md);
                @include border-all(1, solid, rgba($color-white, 0.1), md);
                @include prop-vw(border-radius, 20, md);
            }
            @include only(mobile) {
                @include prop-vw(padding, 12, sm);
                @include prop-vw(min-height, 80, sm);
                @include prop-vw(max-width, 80, sm);
                @include prop-vw(min-width, 80, sm);
                @include border-all(1, solid, rgba($color-white, 0.1), sm);
                @include prop-vw(border-radius, 18, sm);
            }
        }
        &__progress {
            display: block;
            @include prop-vw(min-width, 14, lg);
            @include prop-vw(width, 14, lg);
            @include prop-vw(height, 14, lg);

            @include only(tablet) {
                @include prop-vw(min-width, 14, md);
                @include prop-vw(width, 14, md);
                @include prop-vw(height, 14, md);
            }
            @include only(mobile) {
                @include prop-vw(min-width, 14, sm);
                @include prop-vw(width, 14, sm);
                @include prop-vw(height, 14, sm);
            }
        }
        &__value {
            display: block;
            @include prop-vw(margin-top, 5, lg);
            width: fit-content;
            @include prop-vw(font-size, 12, lg);
            font-weight: 300;
            letter-spacing: -0.05em;

            @include only(tablet) {
                @include prop-vw(margin-top, 5, md);
                @include prop-vw(font-size, 12, md);
            }
            @include only(mobile) {
                @include prop-vw(margin-top, 4, sm);
                @include prop-vw(font-size, 10, sm);
                letter-spacing: -0.04em;
            }
        }
    }
}