@forward '@/components/layouts/Footer/Footer';

@forward '@/components/sections/home/Main/Main';
@forward '@/components/sections/home/Helper/Helper';
@forward '@/components/sections/home/Speak/Speak';
@forward '@/components/sections/home/Talking/Talking';
@forward '@/components/sections/home/Possibilities/Possibilities';

@forward '@/components/components/Button/Button';