@forward '@/components/layouts/Header/Header';
@forward '@/components/layouts/Footer/Footer';

@forward '@/components/sections/home/Main/Main';

// @forward '@/components/sections/shared/';

@forward '@/components/components/Button/Button';