@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer base {
	html {
		@include prop-vw(font-size, 16, lg);
	}

	body {
		font-family: $font-base;
		line-height: 1;
		color: $color-white;
		background: $color-full-black;
	}

	a {
		transition: color $transition-default;
	}

	svg {
		transition: color $transition-default;
	}
}