@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer base {
	html {
		font-size: 16px;
	}

	body {
		font-family: 'SF Pro Display Regular', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
		line-height: 1;
		color: $color-white;
		background: $color-black;
	}

	a {
		transition: color 0.25s ease-in-out;
	}

	svg {
		transition: color 0.25s ease-in-out;
	}
}

