@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer layout {
	body.is-locked {
		position: fixed;
		inset: 0;
		width: 100%;
	}

	.wrapper {
		position: relative;
		z-index: 1;
		background: $color-full-black;
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            display: block;
            width: 100%;
            height: 100%;
			background-color: $color-full-black;
            background-image: url(/assets/images/bg-noise.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            mix-blend-mode: soft-light;
			opacity: 0.2;
        }
	}

	.container {
		width: 100%;

		@include up(desktop) {
			margin: 0 auto;
			@include prop-vw(padding-right, 20, lg);
			@include prop-vw(padding-left, 20, lg);
			@include prop-vw(max-width, 1440, lg);
		}
		@include only(tablet) {
			@include prop-vw(padding-right, 20, md);
			@include prop-vw(padding-left, 20, md);
		}
		@include only(mobile) {
			@include prop-vw(padding-right, 12, sm);
			@include prop-vw(padding-left, 12, sm);
		}
	}

	/* базовая математика трансформаций для всех data-reveal */
	[data-reveal]{
		--ry: 0px; /* вход/появление */
		--py: 0px; /* параллакс при скролле */
		transform: translate3d(0, calc(var(--ry) + var(--py)), 0);
		opacity: 0;
		will-change: transform, opacity;
	}
}