@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer layout {
	body.is-locked {
		position: fixed;
		inset: 0;
		width: 100%;
	}
	
	.wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100svh;
		&__content {
			flex: 1 1 auto;
		}
	}

	.container {
		width: 100%;

		@include up(desktop) {
			margin: 0 auto;
			@include prop-vw(padding-right, 20, lg);
			@include prop-vw(padding-left, 20, lg);
			@include prop-vw(max-width, 1440, lg);
		}
		@include only(tablet) {
			@include prop-vw(padding-right, 20, md);
			@include prop-vw(padding-left, 20, md);
		}
		@include only(mobile) {
			@include prop-vw(padding-right, 20, sm);
			@include prop-vw(padding-left, 20, sm);
		}
	}
}