// fonts
$font-base: 'Helvetica Neue', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;

// colors
$color-white: #FFFFFF;
$color-full-black: #000000;

// transition
$transition-default: 0.25s ease-in-out;
$transition-vs: 0.467s cubic-bezier(0.16, 1, 0.3, 1);
$transition-fast: 0.467s ease;