// fonts
$font-base: 'SF Pro Display Regular', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
$font-secondary: 'NonBureau';
$font-thirdy: 'LEDCounter7';

// colors
$color-white: #FFFFFF;
$color-full-black: #000000;
$color-black: #101010;

// transition
$transition-default: 0.25s ease-in-out;
$transition-vs: 0.467s cubic-bezier(0.16, 1, 0.3, 1);
$transition-fast: 0.467s ease;