@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer components {
    .talking {
        position: relative;
        z-index: 1;
        @include prop-vw(padding-bottom, 160, lg);

        @include only(tablet) {
            @include prop-vw(padding-bottom, 140, md);
        }
        @include only(mobile) {
            @include prop-vw(padding-bottom, 167, sm);
        }

        &__heading {
            display: block;
            @include prop-vw(margin-right, 343, lg);
            @include prop-vw(margin-bottom, 45, lg);
            margin-left: auto;
            @include prop-vw(max-width, 353, lg);
            width: 100%;
            font-family: $font-secondary;
            @include prop-vw(font-size, 32, lg);
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.01em;

            @include only(tablet) {
                margin-right: 0;
                @include prop-vw(margin-bottom, 45, md);
                @include prop-vw(max-width, 347, md);
                @include prop-vw(font-size, 32, md);
            }
            @include only(mobile) {
                margin-right: 0;
                @include prop-vw(margin-bottom, 91, sm);
                @include prop-vw(max-width, 243, sm);
                @include prop-vw(font-size, 25, sm);
            }
        }
        &__images {
            display: flex;
            align-items: flex-start;
            @include prop-vw(margin-right, 450, lg);
            margin-left: auto;
            width: fit-content;

            @include only(tablet) {
                @include prop-vw(margin-right, 121, md);
            }
            @include only(mobile) {
                flex-direction: column;
                @include prop-vw(margin-right, 69, sm);
            }
        }
        &__img {
            display: block;
            overflow: hidden;
            &--first {
                @include prop-vw(min-width, 260, lg);
                @include prop-vw(width, 260, lg);
                @include prop-vw(height, 373, lg);
                @include prop-vw(border-radius, 36, lg);
            }
            &--second {
                @include prop-vw(margin-top, 147, lg);
                @include prop-vw(margin-left, 30, lg);
                @include prop-vw(min-width, 85, lg);
                @include prop-vw(width, 85, lg);
                @include prop-vw(height, 85, lg);
                @include prop-vw(border-radius, 22, lg);
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include only(tablet) {
                &--first {
                    @include prop-vw(min-width, 222, md);
                    @include prop-vw(width, 222, md);
                    @include prop-vw(height, 318, md);
                    @include prop-vw(border-radius, 36, md);
                }
                &--second {
                    @include prop-vw(margin-top, 85, md);
                    @include prop-vw(margin-left, 20, md);
                    @include prop-vw(min-width, 100, md);
                    @include prop-vw(width, 100, md);
                    @include prop-vw(height, 100, md);
                    @include prop-vw(border-radius, 22, md);
                }
            }
            @include only(mobile) {
                &--first {
                    @include prop-vw(min-width, 205, sm);
                    @include prop-vw(width, 205, sm);
                    @include prop-vw(height, 294, sm);
                    @include prop-vw(border-radius, 28, sm);
                }
                &--second {
                    @include prop-vw(margin-top, 62, sm);
                    @include prop-vw(margin-left, 31, sm);
                    @include prop-vw(min-width, 76, sm);
                    @include prop-vw(width, 76, sm);
                    @include prop-vw(height, 76, sm);
                    @include prop-vw(border-radius, 22, sm);
                }
            }
        }
        &__speach {
            position: absolute;
            @include prop-vw(top, 109, lg);
            @include prop-vw(left, 308, lg);
            z-index: 1;
            display: block;
            overflow: hidden;
            @include prop-vw(width, 292, lg);
            @include prop-vw(height, 98, lg);

            @include only(tablet) {
                @include prop-vw(top, 109, md);
                @include prop-vw(left, 20, md);
                @include prop-vw(width, 292, md);
                @include prop-vw(height, 96, md);
            }
            @include only(mobile) {
                @include prop-vw(top, 116, sm);
                @include prop-vw(left, 12, sm);
                @include prop-vw(width, 252, sm);
                @include prop-vw(height, 83, sm);
            }
        }
        &__text {
            position: absolute;
            @include prop-vw(top, 353, lg);
            @include prop-vw(right, 301, lg);
            z-index: 1;
            display: block;
            overflow: hidden;
            @include prop-vw(width, 259, lg);
            @include prop-vw(height, 71, lg);

            @include only(tablet) {
                @include prop-vw(top, 314, md);
                @include prop-vw(right, 20, md);
                @include prop-vw(width, 259, md);
                @include prop-vw(height, 71, md);
            }
            @include only(mobile) {
                @include prop-vw(top, 454, sm);
                @include prop-vw(right, 36, sm);
                @include prop-vw(width, 219, sm);
                @include prop-vw(height, 61, sm);
            }
        }
    }
}