@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer components {
    .talking {
        position: relative;
        z-index: 1;
        @include prop-vw(padding-block, 80, lg);

        @include only(tablet) {
            @include prop-vw(padding-block, 70, md);
        }
        @include only(mobile) {
            @include prop-vw(padding-block, 60, sm);
        }

        &__heading {
            display: block;
            @include prop-vw(margin-right, 343, lg);
            @include prop-vw(margin-bottom, 45, lg);
            margin-left: auto;
            @include prop-vw(max-width, 353, lg);
            width: 100%;
            font-family: $font-secondary;
            @include prop-vw(font-size, 32, lg);
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.01em;

            @include only(tablet) {
                margin-right: 0;
                @include prop-vw(margin-bottom, 45, md);
                @include prop-vw(max-width, 347, md);
                @include prop-vw(font-size, 32, md);
            }
            @include only(mobile) {
                margin-right: 0;
                @include prop-vw(margin-bottom, 91, sm);
                @include prop-vw(max-width, 243, sm);
                @include prop-vw(font-size, 25, sm);
            }
        }
        &__images {
            display: flex;
            align-items: flex-start;
            @include prop-vw(margin-right, 450, lg);
            margin-left: auto;
            width: fit-content;

            @include only(tablet) {
                @include prop-vw(margin-right, 121, md);
            }
            @include only(mobile) {
                flex-direction: column;
                @include prop-vw(margin-right, 69, sm);
            }
        }
        &__img {
            display: block;
            overflow: hidden;
            &--first {
                @include prop-vw(min-width, 260, lg);
                @include prop-vw(width, 260, lg);
                @include prop-vw(height, 373, lg);
                @include prop-vw(border-radius, 36, lg);
            }
            &--second {
                @include prop-vw(margin-top, 147, lg);
                @include prop-vw(margin-left, 30, lg);
                @include prop-vw(min-width, 85, lg);
                @include prop-vw(width, 85, lg);
                @include prop-vw(height, 85, lg);
                @include prop-vw(border-radius, 22, lg);
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include only(tablet) {
                &--first {
                    @include prop-vw(min-width, 222, md);
                    @include prop-vw(width, 222, md);
                    @include prop-vw(height, 318, md);
                    @include prop-vw(border-radius, 36, md);
                }
                &--second {
                    @include prop-vw(margin-top, 85, md);
                    @include prop-vw(margin-left, 20, md);
                    @include prop-vw(min-width, 100, md);
                    @include prop-vw(width, 100, md);
                    @include prop-vw(height, 100, md);
                    @include prop-vw(border-radius, 22, md);
                }
            }
            @include only(mobile) {
                &--first {
                    @include prop-vw(min-width, 205, sm);
                    @include prop-vw(width, 205, sm);
                    @include prop-vw(height, 294, sm);
                    @include prop-vw(border-radius, 28, sm);
                }
                &--second {
                    @include prop-vw(margin-top, 62, sm);
                    @include prop-vw(margin-left, 33, sm);
                    @include prop-vw(min-width, 76, sm);
                    @include prop-vw(width, 76, sm);
                    @include prop-vw(height, 76, sm);
                    @include prop-vw(border-radius, 22, sm);
                }
            }
        }
        &__speach {
            position: absolute;
            @include prop-vw(top, 189, lg);
            @include prop-vw(left, 328, lg);
            z-index: 1;

            @include only(tablet) {
                @include prop-vw(top, 179, md);
                @include prop-vw(left, 20, md);
            }
            @include only(mobile) {
                @include prop-vw(top, 182, sm);
                @include prop-vw(left, 12, sm);
            }
        }
        &__text {
            position: absolute;
            @include prop-vw(top, 433, lg);
            @include prop-vw(right, 301, lg);
            z-index: 1;

            @include only(tablet) {
                @include prop-vw(top, 384, md);
                @include prop-vw(right, 20, md);
            }
            @include only(mobile) {
                @include prop-vw(top, 504, sm);
                @include prop-vw(right, 36, sm);
            }
        }
    }

    .talking-speach {
        &__label {
            display: flex;
            align-items: center;
            @include prop-vw(gap, 3, lg);
            @include prop-vw(margin-bottom, 10, lg);
            width: fit-content;
            @include prop-vw(font-size, 15, lg);
            font-weight: normal;
            letter-spacing: -0.03em;
            color: rgba($color-white, 0.3);
            & > svg {
                @include prop-vw(min-width, 14, lg);
                @include prop-vw(width, 14, lg);
                @include prop-vw(height, 14, lg);
                color: rgba($color-white, 0.3);
            }

            @include only(tablet) {
                @include prop-vw(gap, 3, md);
                @include prop-vw(margin-bottom, 10, md);
                @include prop-vw(font-size, 15, md);
                & > svg {
                    @include prop-vw(min-width, 14, md);
                    @include prop-vw(width, 14, md);
                    @include prop-vw(height, 14, md);
                }
            }
            @include only(mobile) {
                @include prop-vw(gap, 3, sm);
                @include prop-vw(margin-bottom, 8, sm);
                @include prop-vw(font-size, 12, sm);
                & > svg {
                    @include prop-vw(min-width, 12, sm);
                    @include prop-vw(width, 12, sm);
                    @include prop-vw(height, 12, sm);
                }
            }
        }
        &__wrapper {
            position: relative;
            z-index: 1;
            display: block;
            overflow: hidden;
            @include prop-vw(padding-block, 19, lg);
            @include prop-vw(padding-inline, 20, lg);
            @include prop-vw(max-width, 292, lg);
            @include prop-vw(min-width, 292, lg);
            width: 100%;
            background: rgba(19, 19, 20, 0.8);
            @include border-all(1, solid, rgba($color-white, 0.1), lg);
            @include prop-vw(border-radius, 20, lg);
            backdrop-filter: blur(20px);

            @include only(tablet) {
                @include prop-vw(padding-block, 19, md);
                @include prop-vw(padding-inline, 20, md);
                @include prop-vw(max-width, 292, md);
                @include prop-vw(min-width, 292, md);
                @include border-all(1, solid, rgba($color-white, 0.1), md);
                @include prop-vw(border-radius, 20, md);
            }
            @include only(mobile) {
                @include prop-vw(padding-block, 15, sm);
                @include prop-vw(padding-inline, 17, sm);
                @include prop-vw(max-width, 252, sm);
                @include prop-vw(min-width, 252, sm);
                @include border-all(1, solid, rgba($color-white, 0.1), sm);
                @include prop-vw(border-radius, 18, sm);
            }
        }
        &__text {
            display: block;
            @include prop-vw(max-width, 169, lg);
            width: 100%;
            @include prop-vw(font-size, 15, lg);
            font-weight: normal;
            letter-spacing: -0.03em;
            color: rgba($color-white, 0.8);

            @include only(tablet) {
                @include prop-vw(max-width, 169, md);
                @include prop-vw(font-size, 15, md);
            }
            @include only(mobile) {
                @include prop-vw(max-width, 146, sm);
                @include prop-vw(font-size, 12, sm);
            }
        }
        &__btn {
            position: absolute;
            @include prop-vw(top, 16, lg);
            @include prop-vw(right, 16, lg);
            z-index: 1;
            @include prop-vw(width, 54, lg);
            @include prop-vw(height, 26, lg);

            @include only(tablet) {
                @include prop-vw(top, 16, md);
                @include prop-vw(right, 16, md);
                @include prop-vw(width, 54, md);
                @include prop-vw(height, 26, md);
            }
            @include only(mobile) {
                @include prop-vw(top, 14, sm);
                @include prop-vw(right, 14, sm);
                @include prop-vw(width, 47, sm);
                @include prop-vw(height, 22, sm);
            }
        }
    }

    .talking-text {
        &__wrapper {
            position: relative;
            z-index: 1;
            display: block;
            overflow: hidden;
            @include prop-vw(padding-block, 19, lg);
            @include prop-vw(padding-inline, 20, lg);
            @include prop-vw(max-width, 259, lg);
            @include prop-vw(min-width, 259, lg);
            width: 100%;
            background: rgba(19, 19, 20, 0.8);
            @include border-all(1, solid, rgba($color-white, 0.1), lg);
            @include prop-vw(border-radius, 20, lg);
            backdrop-filter: blur(20px);

            @include only(tablet) {
                @include prop-vw(padding-block, 19, md);
                @include prop-vw(padding-inline, 20, md);
                @include prop-vw(max-width, 259, md);
                @include prop-vw(min-width, 259, md);
                @include border-all(1, solid, rgba($color-white, 0.1), md);
                @include prop-vw(border-radius, 20, md);
            }
            @include only(mobile) {
                @include prop-vw(padding-block, 15, sm);
                @include prop-vw(padding-inline, 16, sm);
                @include prop-vw(max-width, 219, sm);
                @include prop-vw(min-width, 219, sm);
                @include border-all(1, solid, rgba($color-white, 0.1), sm);
                @include prop-vw(border-radius, 20, sm);
            }
        }
        &__icon {
            display: inline-block;
            @include prop-vw(margin-bottom, -4, lg);
            @include prop-vw(min-width, 20, lg);
            @include prop-vw(width, 20, lg);
            @include prop-vw(height, 20, lg);
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @include only(tablet) {
                @include prop-vw(margin-bottom, -4, md);
                @include prop-vw(min-width, 20, md);
                @include prop-vw(width, 20, md);
                @include prop-vw(height, 20, md);
            }
            @include only(mobile) {
                @include prop-vw(margin-bottom, -3, sm);
                @include prop-vw(min-width, 16, sm);
                @include prop-vw(width, 16, sm);
                @include prop-vw(height, 16, sm);
            }
        }
        &__text {
            display: inline;
            @include prop-vw(font-size, 15, lg);
            font-weight: normal;
            line-height: 1.33333333333;
            letter-spacing: -0.03em;
            color: rgba($color-white, 0.8);

            @include only(tablet) {
                @include prop-vw(font-size, 15, md);
            }
            @include only(mobile) {
                @include prop-vw(font-size, 12, sm);
            }
        }
    }
}